<!DOCTYPE html>
<html>
<head>
	<title>Tweet Sentiment to CSV</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
	<script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
	<div class='container-fluid'>
		<div class='text-center'>
			<h1>Real Time Tweets Sentimental Analysis</h1>
			<h5>Search for Tweets and Get the Ploarity Of Sentiments Of Tweets</h5>
			
			<div id="search_box" class="container-fluid">
			<form method="post" action="tweetsdisplay.html">
				<input type="text" id="query" name ="query" value="Machine Learning">
				<button id="search">Search</button>
				<div id="loading">Tweets Loaded for {{query}}</div>
				<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
				<script>

					var chart = Highcharts.chart('container', {
					chart: {
						type: 'pie'
					},
					title: {
						text:'Last 100 tweets on {{query}}'
					},					
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
					},

					xAxis: {
						categories: ['Positive','Negative']
					},
					plotOptions: {
					        pie: {
							     dataLabels: {
										format: '<b>{point.name}</b>: {point.percentage:.1f} %',
									}
								}
							},
					series: [{
						name: 'Tweets',
						data: [{name: 'Positive', y:{{pos}},sliced:false},{name:'Negative',y:{{neg}},sliced:false}]
					}]
					});
				</script>
			</div>	
		</div>
		<div id="tweets">
		<span id="pos" style="display:none;">{{ pos }}</span>
		<span id="neg" style="display:none;">{{ neg }}</span>

		<div class="container">
		{% for key,value in mydict.items() %}
			{% if value>0 %}			
				<div class="panel panel-success">
				<div class="panel-heading">Positive</div>
				<div class="panel-body">{{ key }}</div>
				</div>
			{% else %}
				<div class="panel panel-danger">
				<div class="panel-heading">Negative</div>
				<div class="panel-body">{{ key }}</div>
				</div>
			{% endif %}		
		{% endfor %}
		</div>
		<footer class="text-center">
			Developers :- <a href="#">Maitraiya Mali | Prajakta Gurav</a>
		</footer>	</div>
</body>
</html>
